

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">TurboPDF</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/appendPdf">Fusionner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/compressPdf/">Compresser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fillFormPdf/">Remplir un formulaire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addImage/">Ajouter une image</a>

                </li>
                <li>
                    <a class="nav-link" href="/lockPdf/">Verrouiller</a>
                </li>
                <li>
                    <a class="nav-link" href="/unlockPdf/">
                        Deverrouiller
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/deletePagePdf/">
                        Supprimer
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/splitPdf/">
                        Extraire
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Extraire PNG
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/extractPagesToPng/">Extraire pages en PNG </a></li>
                        <li><a class="dropdown-item" href="/pdfToImage/"> Extraire images </a></li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link" href="/redact/">
                        Masquer
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>