{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>TurboPDF</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{%static 'css/style.css' %}">
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
        <style>
            #pdf-container {
                width: 100%;
                height: 600px;
            }
            .btn-primary{
            margin-bottom: 5px;
            background-color: #2A3944ff;
            border-color:black;
            
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">TurboPDF</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/appendPdf">Joindre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/compressPdf/">Compresser</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fillFormPdf/">Remplir un formulaire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/addImage/">Ajouter une image</a>

                        </li>
                        <li>
                            <a class="nav-link" href="/lockPdf/">Verrouiller</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/unlockPdf/">
                                Deverrouiller
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/deletePagePdf/">
                                Supprimer
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/splitPdf/">
                                Extraire
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="app">
            <h2>Ajouter une image</h2>
            <p>Ajouter une image à votre fichier PDF. Cliquez sur les boutons ci-dessous pour charger votre
                fichier et votre image.
            </p>
            <form id="pdf-upload-form">
                <input class="" type="file" id="pdf-input" name="pdf-upload" accept=".pdf" value="upload">
            </form>

            <div>
                <button class="btn btn-primary" id="add-image-btn">Ajouter une image</button>
           
                <!-- <button class="btn btn-primary" id="download-pdf-btn" >Télécharger le PDF</button> -->
                <button type="button" id="save-button" >Enregistrer vos modifications</button>
            </div>
        
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
        <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"
            integrity="sha512-z8IYLHO8bTgFqj+yrPyIJnzBDf7DDhWwiEsk4sY+Oe6J2M+WQequeGS7qioI5vT6rXgVRb4K1UVQC5ER7MKzKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
            </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
            integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    
        </script>

<div class="Mon-pdf-page" id="pdf-container"></div>

<script>
///////////////////////////// Initialisation variable /////////////////////////
var isDragging = false;
var dragStartX = 0; // départ du déplacement
var dragStartY = 0;
var dragOffsetX = 0;
var dragOffsetY = 0;
var context = null;
var pdfDoc = null;
var pages = [];
var page = null;
var canvas = null;
var canvasImage = null;
var image = null;
var pageNumber = 1;
var canvasStock = [];

////////////// Function add image ///////////////////////

function addImage(image, numP = "1"){

    let canvasImage = document.createElement('canvas');
    canvasPage1 = document.getElementById(numP);
    canvasImage.classList.add('My-image');
    let contextImage = canvasImage.getContext('2d');
    canvasImage.height = 50;
    canvasImage.width = 50; 
    canvasPagePourMerge = canvasStock[0];
    let canvasMerge = document.createElement('canvas');
    canvasMerge.height = canvasPage1.height;
    canvasMerge.width = canvasPage1.width;
    contextmerge = canvasMerge.getContext('2d')
    
    contextmerge.drawImage(canvasPagePourMerge, 0,0);
    contextmerge.drawImage(image, dragOffsetX, dragOffsetY);
    canvasMerge.id = numP;

    //canvasPage1.parentNode.removeChild(canvasPage1);
    canvasPage1.replaceWith(canvasMerge);

    
    
    
    canvasMerge.addEventListener('mousedown', function (e) {
            if (image) {
                    isDragging = true;
                    dragStartX = e.clientX;
                    dragStartY = e.clientY;
                }
        });

    canvasMerge.addEventListener('mousemove', function (e) {
        if (isDragging) {

            var offsetX = e.clientX - dragStartX;
            var offsetY = e.clientY - dragStartY;
            dragOffsetX += offsetX;
            dragOffsetY += offsetY;
            dragStartX = e.clientX;
            dragStartY = e.clientY;
                            // context.drawImage(image, dragOffsetX, dragOffsetY);
                            addImage(image);
                            displayPages(pageNumber);
                        }
                    });

            canvasMerge.addEventListener('mouseup', function () {
                        isDragging = false;
                    });
    console.log("added")

}


///////////////////////////// Display PDF //////////////////////
function displayPages(index) {
                            if (index >= pages.length) {
                                return;
                            }

                            page = pages[index];
                            pdfDoc.getPage(page.number).then(function (pdfPage) {
                                let scale = 2;
                                let viewport = pdfPage.getViewport({ scale: scale });

                                let canvas = document.createElement('canvas');
                                canvas.classList.add('Mon-pdf-page');
                                canvas.width = viewport.width;
                                canvas.height = viewport.height;
                                canvas.dataset.pageNumber = page.number;
                                canvas.id = page.number;

                                canvasStock.push(canvas);
                                

                                let context = canvas.getContext('2d');
                                let renderContext = {
                                    canvasContext: context,
                                    viewport: viewport
                                };

                                pdfPage.render(renderContext).promise.then(function () {
                                    

                                    $('#pdf-container').append(canvas);

                                    //let hr = document.createElement('hr');
                                    //$('pdf-container').append(hr);

                                    page.rendered = true;

                                    // Afficher la page suivante
                                    displayPages(index + 1);
                                });
                            });
                        }
$(document).ready(function () {
            $('#pdf-input').change(function (e) {
                file = e.target.files[0];
                let fileReader = new FileReader();

                fileReader.onload = function () {
                    let typedarray = new Uint8Array(this.result);
                    pdfjsLib.getDocument(typedarray).promise.then(function (pdf) {
                        let numPages = pdf.numPages;
                        pdfDoc = pdf;

                        pages = [];
                        for (let i = 1; i <= numPages; i++) {
                            pages.push({ number: i, rendered: false });
                        }

                        displayPages(0);
                    });
                };

                fileReader.readAsArrayBuffer(file);
            });
        });
////////////////////////////////add button image///////////////////////////////////////////////////////
let i = 1;
document.getElementById('add-image-btn').addEventListener('click', function (e) {
    if ($('#save-button').prop('disabled')) {
                                            $('#save-button').prop('disabled', false);
                }

    if (pdfDoc) {
        var imageInput = document.createElement('input');
        imageInput.type = 'file';
        imageInput.accept = 'image/*';
        imageInput.addEventListener('change', function () {
            var imageFile = imageInput.files[0];

            if (imageFile && imageFile.type.includes('image/')) {
                var imageReader = new FileReader();
                    imageReader.onload = function (e) {
                        image = new Image();
                                    image.onload = function () {
                                        //context.clearRect(0, 0, canvas.width, canvas.height); // Efface le contenu précédent du canvas
                                        addImage(image);
                                        
                                        displayPages(i);
                                    };
                                    image.src = e.target.result;
                                };
                        imageReader.readAsDataURL(imageFile);
            } else {
                consoleconsole.log('Veuillez sélectionner un fichier image valide !');
                    }     
        });
            imageInput.click();

    } 
});

/////////////////////////// DOWNLOAD ////////////////////////////////
$('#save-button').click( function () {
    const modifiedPDFData = file.output();

    if (modifiedPDFData) {
        const blob = new Blob([file], { type: 'application/pdf' });

        // Télécharger le fichier PDF modifié
        const url = URL.createObjectURL(blob);
        const a = document.createElement("a");
        a.href = url;
        a.download = "modified_pdf.pdf";
        a.click();
        URL.revokeObjectURL(url);
    }
});
</script>
    </body>
</html>
