{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>TurboPDF</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>


    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">

    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"
            integrity="sha512-z8IYLHO8bTgFqj+yrPyIJnzBDf7DDhWwiEsk4sY+Oe6J2M+WQequeGS7qioI5vT6rXgVRb4K1UVQC5ER7MKzKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
            integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <style>
        .btn-primary {
            margin-bottom: 5px;
            background-color: #2A3944ff;
            border-color: black;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 20px;
        }
    </style>
</head>
<body>

{% include "main/includes/header.html" %}


<div id="app">
    <h2>Fusion des PDF</h2>
    <p>Fusionner deux ou plusieurs fichiers PDFs.<br>
        Cliquez sur le bouton ci-dessous pour charger vos PDFs.
    </p>
    <form enctype="multipart/form-data" id="upload-pdf" method="post" action="">
        {% csrf_token %}
        <input type="file" name="pdf-upload[]" id="pdf-upload" accept=".pdf" multiple><br /><br />
        <button type="button" id="add-more" hidden="true" class="btn btn-primary">Add more files</button><br /><br />
        <div id="pdf-previews"></div>
        <div id="pdf-order-inputs"></div>
        <div id="app" style="margin-bottom: 10%">
            <button type="submit" id="submit-button" class="btn btn-primary">Fusionner</button>
        </div>
    </form>
</div>


<style>
    #pdf-previews {
        display: flex;
        flex-wrap: wrap;
    }

    .pdf-preview {
        position: relative;
        flex-basis: calc(25% - 2%);
        padding: 8px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: grab;
    }

    .pdf-preview embed {
        width: 100%;
        height: 500px;
    }

    .pdf-info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px;
        height: 15%;
        text-align: center;
    }

    .pdf-page-number {
        position: absolute;
        bottom: 8px;
        right: 8px;
        background-color: #f0f0f0;
        padding: 4px;
        border-radius: 4px;
        font-weight: bold;
    }

    .dragover {
        border: 4px solid green;
    }

    .dragging {
        border: 4px solid blue;
    }


</style>

<script>

    let fileArray = [];

    function createPreview(files, index) {
        if (index >= files.length) {
            updateFileOrder();
            updatePageNumbers();
            updateHiddenInputs();
            return;
        }
        const file = files[index];

        if (file.type === 'application/pdf') {
            const fileReader = new FileReader();
            fileReader.onload = function () {
                const typedarray = new Uint8Array(this.result);

                pdfjsLib.getDocument({ data: typedarray }).promise.then(function (pdf) {
                    pdf.getPage(1).then(function (page) {
                        const canvas = document.createElement('canvas');
                        const context = canvas.getContext('2d');
                        const viewport = page.getViewport({ scale: 0.5 });
                        canvas.width = viewport.width;
                        canvas.height = viewport.height;

                        const renderContext = {
                            canvasContext: context,
                            viewport: viewport,
                        };

                        page.render(renderContext).promise.then(function () {
                            const pdfPreviewDiv = document.createElement('div');
                            pdfPreviewDiv.classList.add('pdf-preview');
                            pdfPreviewDiv.innerHTML = '<embed src="' + URL.createObjectURL(file) + '" type="application/pdf" />';

                            const pdfInfoDiv = document.createElement('div');
                            pdfInfoDiv.classList.add('pdf-info');
                            pdfInfoDiv.innerHTML += '<p>Nom : ' + truncateFileName(file.name, 20) + '</p>';
                            pdfInfoDiv.innerHTML += '<p>Nombre de pages : ' + pdf.numPages + '</p>';
                            pdfInfoDiv.innerHTML += '<button class="remove-pdf" data-index';
                            const removeButton = document.createElement('span');
                            removeButton.innerText = '×';
                            removeButton.style.position = 'absolute';
                            removeButton.style.bottom = '8px';
                            removeButton.style.left = '8px';
                            removeButton.style.cursor = 'pointer';
                            removeButton.addEventListener('click', removePdfPreview);
                            pdfInfoDiv.appendChild(removeButton);


                            pdfPreviewDiv.setAttribute('data-index', index);
                            pdfPreviewDiv.setAttribute('data-filename', file.name);
                            pdfPreviewDiv.setAttribute('draggable', 'true');

                            const pageNumberDiv = document.createElement('div');
                            pageNumberDiv.classList.add('pdf-page-number');
                            pageNumberDiv.innerText = files.length - index;

                            pdfPreviewDiv.appendChild(pdfInfoDiv);
                            pdfPreviewDiv.appendChild(pageNumberDiv);
                            pdfPreviews.prepend(pdfPreviewDiv);

                            createPreview(files, index + 1);
                        });
                    });
                });
            };
            fileReader.readAsArrayBuffer(file);
        }
    }

    function removePdfPreview(event) {
        const pdfPreview = event.target.closest('.pdf-preview');
        if (pdfPreview) {
            const dataIndex = parseInt(pdfPreview.getAttribute('data-index'));
            const fileIndex = fileArray.length - 1 - dataIndex;

            if (fileIndex >= 0 && fileIndex < fileArray.length) {
                fileArray.splice(fileIndex, 1);
            }

            pdfPreview.remove();

            const allPreviews = document.querySelectorAll('.pdf-preview');
            allPreviews.forEach((preview, index) => {
                preview.setAttribute('data-index', index);
                const pageNumberDiv = preview.querySelector('.pdf-page-number');
                pageNumberDiv.innerText = index + 1;
            });

            updateHiddenInputs();
            updateFileOrder();
        }
    }





    document.getElementById('pdf-upload').addEventListener('change', handleFileUpload);

    document.getElementById('add-more').addEventListener('click', function(e) {
        e.preventDefault();

        const pdfUpload = document.getElementById('pdf-upload');

        const newFileInput = document.createElement('input');
        newFileInput.type = 'file';
        newFileInput.name = 'pdf-upload[]';
        newFileInput.id = 'pdf-upload';
        newFileInput.accept = '.pdf';
        newFileInput.multiple = true;
        newFileInput.style.display = 'none';

        newFileInput.addEventListener('change', handleFileUpload);

        pdfUpload.parentNode.replaceChild(newFileInput, pdfUpload);

        newFileInput.click();
    });

    function handleFileUpload(e) {
        e.preventDefault();
        const newFiles = [...e.target.files];

        fileArray = [...fileArray, ...newFiles];

        createPreview(newFiles, 0);

        document.getElementById('add-more').hidden = false;

        setTimeout(() => {
            document.getElementById('pdf-upload').hidden = true;
        }, 500);
    }

    document.getElementById('upload-pdf').addEventListener('submit', function(e) {
        e.preventDefault();

        const formData = new FormData();
        fileArray.forEach((file, index) => {
            formData.append(`pdf-upload[${index}]`, file);
        });

        formData.append("csrfmiddlewaretoken", document.querySelector("[name='csrfmiddlewaretoken']").value);

        fetch(e.target.action, {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);

                if (data.download_url) {
                    const downloadUrl = data.download_url;
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = downloadUrl;
                    a.download = 'grouped_file.pdf';
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                } else {
                    console.error("Erreur dans la generation du fichier")
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });



    const pdfPreviews = document.getElementById('pdf-previews');

    pdfPreviews.addEventListener('dragstart', function (event) {
        event.dataTransfer.setData('text/plain', event.target.dataset.index);
        event.target.classList.add('dragging');
    });

    pdfPreviews.addEventListener('dragover', function (event) {
        event.preventDefault();
        const targetElement = event.target.closest('.pdf-preview');
        if (targetElement) {
            targetElement.classList.add('dragover');
        }
    });

    pdfPreviews.addEventListener('dragleave', function (event) {
        const targetElement = event.target.closest('.pdf-preview');
        if (targetElement) {
            targetElement.classList.remove('dragover');
        }
    });

    function addRemoveEventListener(removeButton) {
        removeButton.addEventListener('click', removePdfPreview);
    }


    pdfPreviews.addEventListener('drop', function (event) {
        event.preventDefault();
        const data = event.dataTransfer.getData('text/plain');
        const draggedElement = document.querySelector(`[data-index="${data}"]`);
        const targetElement = event.target.closest('.pdf-preview');

        if (targetElement && targetElement !== draggedElement) {
            const draggedIndex = parseInt(draggedElement.getAttribute('data-index'));
            const targetIndex = parseInt(targetElement.getAttribute('data-index'));

            const clonedDraggedElement = draggedElement.cloneNode(true);
            const clonedTargetElement = targetElement.cloneNode(true);

            clonedDraggedElement.setAttribute('data-index', targetIndex);
            clonedTargetElement.setAttribute('data-index', draggedIndex);

            const draggedFileName = draggedElement.getAttribute('data-filename');
            const targetFileName = targetElement.getAttribute('data-filename');

            const draggedFileIndex = fileArray.findIndex(file => file.name === draggedFileName);
            const targetFileIndex = fileArray.findIndex(file => file.name === targetFileName);

            if (draggedFileIndex !== -1 && targetFileIndex !== -1) {
                const tempFile = fileArray[draggedFileIndex];
                fileArray[draggedFileIndex] = fileArray[targetFileIndex];
                fileArray[targetFileIndex] = tempFile;
            }

            pdfPreviews.replaceChild(clonedDraggedElement, targetElement);
            pdfPreviews.replaceChild(clonedTargetElement, draggedElement);

            const clonedDraggedRemoveButton = clonedDraggedElement.querySelector('span');
            const clonedTargetRemoveButton = clonedTargetElement.querySelector('span');
            addRemoveEventListener(clonedDraggedRemoveButton);
            addRemoveEventListener(clonedTargetRemoveButton);

            if (draggedIndex > targetIndex) {
                draggedElement.setAttribute('data-index', targetIndex);
                targetElement.setAttribute('data-index', draggedIndex + 1);
            } else {
                draggedElement.setAttribute('data-index', targetIndex - 1);
                targetElement.setAttribute('data-index', draggedIndex);
            }



            updatePageNumbers();
            updateHiddenInputs();
            updateFileOrder();
        }
        const draggingElement = pdfPreviews.querySelector('.dragging');
        if (draggingElement) {
            draggingElement.classList.remove('dragging');
        }

        const dragoverElement = pdfPreviews.querySelector('.dragover');
        if (dragoverElement) {
            dragoverElement.classList.remove('dragover');
        }

    });

    function updateHiddenInputs() {
        const pdfPreviewsDivs = document.querySelectorAll('.pdf-preview');
        const pdfOrderInputs = document.getElementById('pdf-order-inputs');
        pdfOrderInputs.innerHTML = '';

        pdfPreviewsDivs.forEach((div, index) => {
            const dataIndex = div.getAttribute('data-index');
            const pageNumberDiv = div.querySelector('.pdf-page-number')
            const pageNumber = pageNumberDiv.innerText
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = `${fileArray[dataIndex].name}`;
            input.value = index;
            pdfOrderInputs.appendChild(input);
        });

        console.log("Hidden Inputs Content:", pdfOrderInputs.innerHTML);
    }

    function updatePageNumbers() {
        const pdfPreviewsDivs = document.querySelectorAll('.pdf-preview');
        pdfPreviewsDivs.forEach((div, index) => {
            const pageNumberDiv = div.querySelector('.pdf-page-number');
            pageNumberDiv.innerText = index + 1;

            const fileName = div.getAttribute('data-filename');
            div.setAttribute('data-index', index);
            div.setAttribute('data-filename', fileName);
        });

    }


    function truncateFileName(fileName, maxLength) {
        if (fileName.length <= maxLength) {
            return fileName;
        } else {
            return fileName.substr(0, maxLength - 3) + '...';
        }
    }

    function updateFileOrder() {

        const pdfPreviewsDivs = document.querySelectorAll('.pdf-preview');
        const pdfOrderInputs = document.getElementById('pdf-order-inputs');
        pdfOrderInputs.innerHTML = '';

        pdfPreviewsDivs.forEach((div, index) => {
            const dataIndex = div.getAttribute('data-index');
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = `${fileArray[dataIndex].name}`;
            input.value = dataIndex;
            pdfOrderInputs.appendChild(input);
        });
    }



</script>
</body>

</html>