{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Assembler des PDF</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">MyPDF</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/appendPdf">Assembler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/compressPdf/">Compresser PDF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addImage/">Ajouter une image</a>

                    </li>
                    <li>
                        <a class="nav-link" href="/lockPdf/">Verrouiller</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/unlockPdf/">
                            Deverrouiller
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Assembler des PDF</h1>

    <form enctype="multipart/form-data" id="upload-compare-pdf" method="post">
        {% csrf_token %}
        <input type="file" name="pdf-upload1" accept=".pdf">
        <input type="file" name="pdf-upload2" accept=".pdf">
        <button type="submit">Joindre les fichiers</button>
    </form>
    <p>Votre fichier a été joint avec succes,et il est pret à etre téléchargé!</p> <br/>
    <div>
        <a href="{% url 'download_append_file' %}">Télécharger le fichier joint</a>
    </div>
</div>

<script>


</script>
</body>
</html>