{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>TurboPDF</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">

    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"
            integrity="sha512-z8IYLHO8bTgFqj+yrPyIJnzBDf7DDhWwiEsk4sY+Oe6J2M+WQequeGS7qioI5vT6rXgVRb4K1UVQC5ER7MKzKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
            integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">TurboPDF</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/appendPdf">Joindre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/compressPdf/">Compresser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fillFormPdf/">Remplir un formulaire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addImage/">Ajouter une image</a>

                </li>
                <li>
                    <a class="nav-link" href="/lockPdf/">Verrouiller</a>
                </li>
                <li>
                    <a class="nav-link" href="/unlockPdf/">
                        Deverrouiller
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/deletePagePdf/">
                        Supprimer
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/splitPdf/">
                        Extraire
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/pdfToImage/">
                        PDF en PNG
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="app">
    <h2>Fusion des PDF</h2>
    <form enctype="multipart/form-data" id="upload-pdf" method="post">
        {% csrf_token %}
        <input type="file" name="pdf-upload[]" id="pdf-upload" accept=".pdf" multiple><br /><br />
</div>
    <div id="pdf-previews"></div>
    <div id="app" style="margin-bottom: 10%">
        <button type="submit" id="save-button">Fusionner</button>
    </div>
</form>
<style>
    #pdf-previews {
        display: flex;
        flex-wrap: wrap;
    }

    .pdf-preview {
        width: 200px;
        margin: 2%;
    }

    .pdf-preview embed {
        width: 100%;
        height: 250px;
    }

    .pdf-info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<script>
    document.getElementById('upload-pdf').addEventListener('change', function (e) {
        e.preventDefault();
        const fileInput = document.getElementById('pdf-upload');
        const fileArray = fileInput.files;
        const pdfPreviews = document.getElementById('pdf-previews');
        pdfPreviews.innerHTML = '';

        function createPreviewWithDelay(files, index) {
            if (index >= files.length) {
                return;
            }
            updateFileOrder();
            const file = files[index];

            if (file.type === 'application/pdf') {
                const fileReader = new FileReader();
                fileReader.onload = function () {
                    const typedarray = new Uint8Array(this.result);

                    pdfjsLib.getDocument({ data: typedarray }).promise.then(function (pdf) {
                        pdf.getPage(1).then(function (page) {
                            const canvas = document.createElement('canvas');
                            const context = canvas.getContext('2d');
                            const viewport = page.getViewport({ scale: 0.5 });
                            canvas.width = viewport.width;
                            canvas.height = viewport.height;

                            const renderContext = {
                                canvasContext: context,
                                viewport: viewport,
                            };

                            page.render(renderContext).promise.then(function () {
                                const pdfPreviewDiv = document.createElement('div');
                                pdfPreviewDiv.classList.add('pdf-preview');
                                pdfPreviewDiv.innerHTML = '<embed src="' + URL.createObjectURL(file) + '" type="application/pdf" />';

                                pdfPreviewDiv.setAttribute('data-index', index);

                                pdfPreviews.prepend(pdfPreviewDiv);

                                const pdfInfoDiv = document.createElement('div');
                                pdfInfoDiv.classList.add('pdf-info');
                                pdfInfoDiv.innerHTML += '<p>Nom : ' + truncateFileName(file.name, 20) + '</p>';
                                pdfInfoDiv.innerHTML += '<p>Nombre de pages : ' + pdf.numPages + '</p>';
                                pdfInfoDiv.innerHTML += '<p>Taille : ' + (file.size / 1024).toFixed(2) + ' Ko</p>';
                                pdfPreviewDiv.appendChild(pdfInfoDiv);

                                // Appeler la fonction pour afficher le fichier suivant après un délai de 500 millisecondes
                                setTimeout(function () {
                                    createPreviewWithDelay(files, index + 1);
                                }, 500);
                            });
                        });
                    });
                };
                fileReader.readAsArrayBuffer(file);
            }
        }

        createPreviewWithDelay(fileArray, 0);
    });

    function truncateFileName(fileName, maxLength) {
        if (fileName.length <= maxLength) {
            return fileName;
        } else {
            return fileName.substr(0, maxLength - 3) + '...';
        }
    }

    function updateFileOrder() {
        const fileInput = document.getElementById('pdf-upload');
        const fileArray = fileInput.files;
        const fileOrder = [];

        for (let i = 0; i < fileArray.length; i++) {
            fileOrder.push(fileArray[i].name);
        }
    }

</script>
</body>

</html>