{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>Compresser un PDF</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">

    </head>

    <body>
        <div id="app">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/">TurboPDF</a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/appendPdf">Joindre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/compressPdf/">Compresser</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/fillFormPdf/">Remplir un formulaire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/addImage/">Ajouter une image</a>

                        </li>
                        <li>
                            <a class="nav-link" href="/lockPdf/">Verrouiller</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/unlockPdf/">
                                Deverrouiller
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            <h2>Compresser des fichiers PDF</h1>
            <p>Compresser des fichiers PDF, avec 3 niveaux de compression ! 
            <p>Cliquez sur le bouton ci-dessous pour charger vos fichiers.</p>
            </p>
            <form enctype="multipart/form-data" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <input type="file" name="pdf_file" accept="application/pdf" />
                <div id="compareDiv">
                    <button type="submit" name="small-compression" id="compressButton">Compression basse</button>
                    <button type="submit" name="medium-compression" id="compressButton">Compression moyenne</button>
                    <button type="submit" name="high-compression" id="compressButton">Compression  haute</button>
                </div>
            </form>

            <!-- {% if compressedFileSize %}
                <div>
               <a href="{% url 'download_compressed' %}">Télécharger le fichier compressé</a>

                </div>
            {% endif %} -->

        </div>
    </body>

</html>