<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">MyPDF</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="comparePDFs.html">Comparer PDFs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="compressPDF.html">Compresser PDF</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="fillFormPDF.html">Remplir un Formulaire PDF</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <h1>Bienvenue sur MyPDF !</h1>
            <p>Utilisez les fonctionnalités ci-dessous pour manipuler vos fichiers PDF :</p>
            <ul>
                <li>
                    <a href="comparePDFs.html">Comparer PDF</a> - Comparez deux fichiers PDF pour trouver les
                    différences.
                </li>
                <li>
                    <a href="compressPDF.html">Compresser PDF</a> - Réduisez la taille de vos fichiers PDF en les
                    compressant.
                </li>
                <li>
                    <a href="fillFormPDF.html">Remplir Formulaire PDF</a> - Remplissez des formulaires PDF interactifs.
                </li>
            </ul>
        </div>
    </div>
</body>

</html>