{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>TurboPDF</title>

    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- Scripts JavaScript requis pour le fonctionnement de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
</head>

<body>
{% include "main/includes/header.html" %}
<div id="app">
    <div class="container mt-5">
        <h1>Bienvenue sur TurboPDF !</h1>
        <p>Utilisez les fonctionnalités ci-dessous pour manipuler vos fichiers PDF :</p>
        <ul>
            <li>
                <a href="appendPdf/">Fusionner des fichiers PDF</a> - Ajoutez des fichiers PDF a la suite des autres.
            </li>
            <li>
                <a href="compressPdf/">Compresser un fichier PDF</a> - Réduisez la taille de vos fichiers PDF en les
                compressant.
            </li>
            <li>
                <a href="fillFormPdf/">Remplir un formulaire</a> - Remplissez des formulaires PDF interactifs.
            </li>
            <li>
                <a href="addImage/">Ajouter une image</a> - Ajoutez une image dans une ou plusieurs pages d'un fichier
                PDF
            </li>
            <li>
                <a href="lockPdf/">Verrouiller un PDF</a> - Verrouillez un PDF
            </li>
            <li>
                <a href="unlockPdf/">Deverrouiller un PDF</a> - Deverrouillez un PDF.
            </li>
            <li>
                <a href="deletePagePdf/">Supprimer une page</a> - Supprimez une ou plusieurs pages du PDF.
            </li>
            <li>
                <a href="splitPdf/">Extraire</a> - Extraire une page ou un ensemble de page d'un fichier PDF.
            </li>
            <li>
                <a href="pdfToImage/">PDF en PNG</a> - Convertissez les pages de votre PDF en images.
            </li>
            <li>
                <a href="redact/">Masquer</a> - Masquer des informations sensibles dans votre PDF.
            </li>
        </ul>
    </div>
</div>
</body>

</html>