{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page d'accueil</title>
     <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">TurboPDF</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Comparer PDFs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/compressPdf/">Compresser PDF</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fillFormPdf/">Fill form PDF</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/addImage/">Ajouter une image</a>
                            
                        </li>
                        <li>
                            <a class="nav-link" href="/lockPdf/">Verrouiller</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/unlockPdf/">
                                Deverrouiller
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/deletePagePdf/">
                                supprimer une page
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <h1>Bienvenue sur TurboPDF !</h1>
            <p>Utilisez les fonctionnalités ci-dessous pour manipuler vos fichiers PDF :</p>
            <ul>
                <li>
                    <a href="#">Comparer PDF</a> - Comparez deux fichiers PDF pour trouver les
                    différences.
                </li>
                <li>
                    <a href="compressPdf/">Compresser PDF</a> - Réduisez la taille de vos fichiers PDF en les
                    compressant.
                </li>
                <li>
                    <a href="fillFormPdf/">Fill Form PDF</a> - Remplissez des formulaires PDF interactifs.
                </li>
                <li>
                    <a href="addImage/">Ajouter une image</a> - Ajouter une image
                </li>
                <li>
                    <a href="lockPdf/">Verrouiller un PDF</a> - Verrouiller un pdf
                </li>
                <li>
                    <a href="unlockPdf/">Deverrouiller un PDF</a> - Deverrouiller un pdf.
                </li>
                <li>
                    <a href="deletePagePdf/">Supprimer une page</a> - Supprimer une ou plusieurs pages du pdf.
                </li>
            </ul>
        </div>
    </div>
</body>

</html>