{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>TurboPDF</title>
        <link rel="stylesheet" href="{%static 'css/style.css' %}">
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <head>
    <body>
        
        {% include "main/includes/header.html" %}

        <div id="app">
            <h2>Verrouillez vos fichiers PDF en un clic</h2>
            <p>Verrouillez votre fichier PDF. Cliquez sur le bouton ci-dessous pour charger votre
                fichier.
            </p>          

            <form enctype="multipart/form-data" method="post" >
                {% csrf_token %}
                <label for="password">Entrez votre mot de passe:</label>
                <div class="password-container">
                    <input type="password" id="pass" name="password" placeholder="password" required> 
                    <i class="fa-solid fa-eye" id="eye"></i><br /><br />
                </div>
                <input type="file" name="input_file" accept="application/pdf" /><br /><br />
                <div id="lockDiv">
                    <button type="submit" name="filename" id="save-button">Verrouiller le fichier</button>
                </div>
            </form>
        </div>
    </body>

    <script>
        const passwordInput = document.querySelector("#pass")
        const eye = document.querySelector("#eye")
        eye.addEventListener("click", function () {
                this.classList.toggle("fa-eye-slash")
                const type = passwordInput.getAttribute("type") === "password" ? "text" : "password"
                passwordInput.setAttribute("type", type)
            })
    </script>
</html>