{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>TurboPDF</title>


        <script src="{%static 'fabric/fabric.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
        <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"
            integrity="sha512-z8IYLHO8bTgFqj+yrPyIJnzBDf7DDhWwiEsk4sY+Oe6J2M+WQequeGS7qioI5vT6rXgVRb4K1UVQC5ER7MKzKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
            </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
            integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{%static 'css/style.css' %}">
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <style>
            .controls {
  	    display: inline-block;
            }
            #pdf-container {
                width: 100%;

            }
            .btn-primary {
                margin-bottom: 5px;
                background-color: #2A3944ff;
                border-color: black;

            }
            canvas {
                margin-bottom: 50px;
            }
        </style>
    </head>
    <body>
        {% include "main/includes/header.html" %}

        <div id="app">
            <h2>Masquer des information</h2>
            <p>Pour protéger vos informations sensibles, , TurboPdf est le bon choix
            </p>
                 <div>
                    <form enctype="multipart/form-data" action="maskEmail/" method="GET">
                {% csrf_token %}

                    <button type="submit" name="mask-email" class="btn btn-primary" id="mask-email">Masquer les adresses email</button


                     </form>
                </div>
            <div>
              <form enctype="multipart/form-data" action="/redact/" method="GET">
                {% csrf_token %}

                    <button type="submit" name="mask-zone" id="mask-zone"  class="btn btn-primary" >Masquer une zone dans un pdf</button>


        </form>
             </div>

        
        </div>


    </body>
</html>
