{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
            <script src="{%static 'fabric/fabric.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
        <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"
            integrity="sha512-z8IYLHO8bTgFqj+yrPyIJnzBDf7DDhWwiEsk4sY+Oe6J2M+WQequeGS7qioI5vT6rXgVRb4K1UVQC5ER7MKzKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
            </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
            integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{%static 'css/style.css' %}">
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.worker.js"></script>
    <style>
          .controls {

  	        display: inline-block;

            }
          #pdf-container{

          }
          canvas {

              border: 1px solid black;
          }
          .btn-primary {
                margin-bottom: 5px;
                background-color: #2A3944ff;
                border-color: black;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: 20px;
          }




    </style>
</head>
<body id="body">
{% include "main/includes/header.html" %}

<div id="app">

<div class="floating-menu">
    <div class="controls">
        <p>
            <button type="button" class="btn btn-primary" id="add" onclick="Add()">Add a rectangle</button>
            <button type="button" id="save-button" disabled>Enregistrer vos modifications</button>
        </p>
    </div>
</div>
    <div>
    <input type="file" accept="application/pdf">
  </div>
<canvas id="c" width="300" height="200">
</canvas> </div>

  <div id="pdf-container"></div>

<script>
  let numPages;
  let width = [];
  let heigth = [];
  let listCanvas = [];
  let listObject = [];

  const Base64Prefix = "data:application/pdf;base64,";
  function getPdfHandler() {
      return window['pdfjs-dist/build/pdf'];
  }

  function readBlob(blob) {
      return new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.addEventListener('load', () => resolve(reader.result));
          reader.addEventListener('error', reject)
          reader.readAsDataURL(blob);
      })
  }

  async function printPDF(pdfData, pages) {
      const pdfjsLib = await getPdfHandler();
      pdfData = pdfData instanceof Blob ? await readBlob(pdfData) : pdfData;
      const data = atob(pdfData.startsWith(Base64Prefix) ? pdfData.substring(Base64Prefix.length) : pdfData);
      // Using DocumentInitParameters object to load binary data.
      const loadingTask = pdfjsLib.getDocument({ data });
      return loadingTask.promise
          .then((pdf) => {
              numPages = pdf.numPages;
              return new Array(numPages).fill(0)
                  .map((__, i) => {
                      const pageNumber = i + 1;
                      if (pages && pages.indexOf(pageNumber) == -1) {
                          return;
                      }
                      return pdf.getPage(pageNumber)
                          .then((page) => {
                              //  retina scaling
                              const viewport = page.getViewport({ scale: window.devicePixelRatio });
                              // Prepare canvas using PDF page dimensions
                              const canvas = document.createElement('canvas');
                              const context = canvas.getContext('2d');
                              canvas.height = viewport.height
                              canvas.width = viewport.width;
                              canvas.id = i+1;

                              width.push(viewport.width);
                              heigth.push(viewport.height);
                              // Render PDF page into canvas context
                              const renderContext = {
                                  canvasContext: context,
                                  viewport: viewport
                              };

                              const renderTask = page.render(renderContext);
                              return renderTask.promise.then(() => canvas);
                          });
                  });
          });
  }



async function pdfPageToImage(pageIndex, canvas, pdfDataArray) {
    const scale = 1 / window.devicePixelRatio;

   /// this is let singleCanvas = await printSinglePDFPage(pdfData, pageIndex);

    const imageData = await pdfDataArray[pageIndex];

    const fabricImage = new fabric.Image(imageData, {
        left: 0,
        top: 0,
        scaleX: scale,
        scaleY: scale,
        selectable: false,
    });

    canvas.add(fabricImage);
}


  async  function createCanvas(i, pdfDataArray, width, heigth){
      const canvas2e = document.createElement('canvas');
      const context2e = canvas2e.getContext('2d');
      canvas2e.height = heigth;
      canvas2e.width = width;
      //canvas2e.height = 900;
      //canvas2e.width = 800;
      canvas2e.id = i+1;
      canvas2e.style.left = "50%";
      document.getElementById("body").appendChild(canvas2e);
      let canvas2 = this.__canvas = new fabric.Canvas(`${i+1}`);
      canvas2.getElement().style.left = "50%";
      let upperCanvas = canvas2.upperCanvasEl;
      upperCanvas.style.left = "50%";
      listCanvas.push(canvas2);


      await pdfPageToImage( i, canvas2, pdfDataArray);
      canvas2.requestRenderAll();

  }

  var canvas = this.__canvas = new fabric.Canvas('c');

    canvas.getElement().removeAttribute("style");
    const text = new fabric.Text('Upload PDF');
    canvas.add(new fabric.Circle({ radius: 100, fill: 'green' }), text);
    document.querySelector('input').addEventListener('change', async (e) => {
        text.set('text', 'loading...');
        canvas.requestRenderAll();
        const pdfDataArray = await printPDF(e.target.files[0]);
         await numPages;
        console.log("numPages : ", numPages);
        //await width;
        //await heigth;
        for (let i =0; i< numPages; i++){
             while (typeof width[i] === 'undefined') {
            await new Promise(resolve => setTimeout(resolve, 100)); // Attendre 100 millisecondes
                }

            await createCanvas(i, pdfDataArray, width[i], heigth[i]);
        }

        canvas.remove(text);
        if ($('#save-button').prop('disabled')) {
            $('#save-button').prop('disabled', false);}
    });

	// create a rect object
  var deleteIcon = "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='595.275px' height='595.275px' viewBox='200 215 230 470' xml:space='preserve'%3E%3Ccircle style='fill:%23F44336;' cx='299.76' cy='439.067' r='218.516'/%3E%3Cg%3E%3Crect x='267.162' y='307.978' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -222.6202 340.6915)' style='fill:white;' width='65.545' height='262.18'/%3E%3Crect x='266.988' y='308.153' transform='matrix(0.7071 0.7071 -0.7071 0.7071 398.3889 -83.3116)' style='fill:white;' width='65.544' height='262.179'/%3E%3C/g%3E%3C/svg%3E";

  var img = document.createElement('img');
  img.src = deleteIcon;

  fabric.Object.prototype.transparentCorners = false;
  fabric.Object.prototype.cornerColor = 'blue';
  fabric.Object.prototype.cornerStyle = 'circle';

  function Add() {
      let indexActiveCanvas;

      const canvasElements = document.querySelectorAll('canvas');
      const canvasToRemove = document.getElementById('c');
     const updatedCanvasElements = Array.from(canvasElements).filter(canvas => canvas !== canvasToRemove && !canvas.classList.contains('upper-canvas'));
      console.log("listCanvas", updatedCanvasElements);
      for (let i = 0; i < updatedCanvasElements.length; i++) {
    const canvas = updatedCanvasElements[i];
    const canvasRect = canvas.getBoundingClientRect();

    if (

      canvasRect.left >= 0 &&
      Math.abs(canvasRect.top) <= window.innerHeight/2 &&
      canvasRect.right <= window.innerWidth
    ) {
      console.log('Canvas visible:', canvas.id);
      indexActiveCanvas = canvas.id;
      break; // Sortir de la boucle dès que le canvas est trouvé
    }}


      let convasFabricActive = listCanvas[indexActiveCanvas-1];
    var rect = new fabric.Rect({
      left: 100,
      top: 50,
      fill: 'black',
      width: 200,
      height: 100,
      objectCaching: false,
      stroke: 'lightgreen',
      strokeWidth: 4,
    });

    convasFabricActive.add(rect);
    //canvas.setActiveObject(rect);
  }

  fabric.Object.prototype.controls.deleteControl = new fabric.Control({
    x: 0.5,
    y: -0.5,
    offsetY: 16,
    cursorStyle: 'pointer',
    mouseUpHandler: deleteObject,
    render: renderIcon,
    cornerSize: 24
  });


  function deleteObject(eventData, transform) {
		var target = transform.target;
		var canvas = target.canvas;
		    canvas.remove(target);
        canvas.requestRenderAll();
	}

  function renderIcon(ctx, left, top, styleOverride, fabricObject) {
    var size = this.cornerSize;
    ctx.save();
    ctx.translate(left, top);
    ctx.rotate(fabric.util.degreesToRadians(fabricObject.angle));
    ctx.drawImage(img, -size/2, -size/2, size, size);
    ctx.restore();
  }
</script>


</body>

</html>