{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>TurboPDF</title>


        <script src="{%static 'fabric/fabric.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
        <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"
            integrity="sha512-z8IYLHO8bTgFqj+yrPyIJnzBDf7DDhWwiEsk4sY+Oe6J2M+WQequeGS7qioI5vT6rXgVRb4K1UVQC5ER7MKzKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
            </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
            integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{%static 'css/style.css' %}">
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <style>
            .controls {
  	    display: inline-block;
            }
            #pdf-container {
                width: 100%;

            }
            .btn-primary {
                margin-bottom: 5px;
                background-color: #2A3944ff;
                border-color: black;

            }
            canvas {
                margin-bottom: 50px;
            }
        </style>
    </head>
    <body>
        {% include "main/includes/header.html" %}

        <div id="app">
            <h2>Masquer des information</h2>
            <p>Pour protéger vos informations sensibles, , TurboPdf est le bon choix
            </p>
               
            <form enctype="multipart/form-data" id="pdf-upload-form" method="post">
                {% csrf_token %}
                <div class="m-b-30">
                    <input class="" type="file" id="pdf-input" name="pdf-upload" accept="application/pdf" value="upload">
                </div>
                <div>
                    <button type="submit" name="mask-email" class="btn btn-primary" id="mask-email">Masquer les adresses email</button>
                    <button class="btn btn-primary" id="mask-num">Masquer les numéros de Téléphone</button>
                    <button class="btn btn-primary" id="mask-zone">Masquer une zone précise</button>
                    <button class = "btn" style="font-size:24px"> <i class="fa fa-trash-o"></i></button>

                </div>
        </form>

        
        </div>

 <div class="controls">
    <p>
      <button id="add" onclick="Add()">Add a rectangle</button>
    </p>
  </div>
<div class="Mon-pdf-page" id="pdf-container"></div>


<script>
///////////////////////////// Initialisation ///////////////////
let file = null;
let numP = 0;
let isDragging = false;
let dragStartX = 0; // départ du déplacement
let dragStartY = 0;
let dragOffsetX = 0;
let dragOffsetY = 0;
let context = null;
let canvasStock = [];
let pages = [];
let page = null;
let canvas = null;
let pageNumber = 1;
let canvasFabricStock = [];

///////////////////////////// Display PDF //////////////////////
function displayPages(index) {
    let fabricCanvas;
    if (index >= pages.length) {
        return;
    }

    const page = pages[index];
    pdfDoc.getPage(page.number).then(function (pdfPage) {
        let scale = 2;
        let viewport = pdfPage.getViewport({ scale: scale });

        fabricCanvas = new fabric.Canvas(`${page.number}`, {
            width: viewport.width,
            height: viewport.height,
            selectionColor: 'blue',
            selectionLineWidth: 2
        });

        const canvasElement = fabricCanvas.getElement();
        canvasElement.removeAttribute("style");

        canvasElement.dataset.pageNumber = page.number;
        canvasElement.id = page.number
        canvasElement.classList.add('Mon-pdf-page');
       //canvasElement.classList.remove('lower-canvas');

        context = fabricCanvas.getContext('2d');
        canvasFabricStock.push(fabricCanvas);
        let renderContext = {
            canvasContext: context,
            viewport: viewport
        };

        pdfPage.render(renderContext).promise.then(function () {

            // Add the canvas to the PDF container
            const pdfContainer = document.getElementById('pdf-container');
            pdfContainer.appendChild(canvasElement);
            page.rendered = true;

            // Display the next page
            displayPages(index + 1);
        });
    });
}

// Call the function with the initial index



/////////////////// Load PDF ////////////////////

$(document).ready(function () {
    $('#pdf-input').change(async function (e) {
    file = e.target.files[0];
                
    let fileReader = new FileReader();
    fileReader.onload = async function () {
        typedarray = new Uint8Array(await this.result);
        MypdfDoc = pdfjsLib.getDocument(typedarray).promise.then(function (pdf) {
            let numPages = pdf.numPages;
            pdfDoc = pdf;

            pages = [];
            for (let i = 1; i <= numPages; i++) {
                pages.push({ number: i, rendered: false });
            }

            displayPages(0);                      
        });
    };

    fileReader.readAsArrayBuffer(file);
                
    });
});

/////////////////////////// redact file ///////////////////////////////////
function redact(){
    let canvasMerge = null;
     canvasPage = document.getElementById(numP);
     canvasPagePourMerge = canvasStock[Number(numP) - 1];
     canvasMerge = document.createElement('canvas');
     canvasMerge.height = canvasPage.height;
     canvasMerge.width = canvasPage.width;
     contextmerge = canvasMerge.getContext('2d');
     contextmerge.drawImage(canvasPagePourMerge, 0, 0);
     contextmerge.fillRect( dragOffsetX, dragOffsetY, 100, 100);
     canvasMerge.id = numP;
     canvasMerge.classList.add("redacted-page");
     canvasPage.replaceWith(canvasMerge);
     //canvasStock[canvasStock.indexOf(canvasPage)] = canvasMerge;

    canvasMerge.addEventListener('mousedown', function (e) {
                isDragging = true;
                dragStartX = e.clientX;
                dragStartY = e.clientY;
        });

        canvasMerge.addEventListener('mousemove', function (e) {
            if (isDragging) {

                var offsetX = e.clientX - dragStartX;
                var offsetY = e.clientY - dragStartY;
                dragOffsetX += offsetX;
                dragOffsetY += offsetY;
                dragStartX = e.clientX;
                dragStartY = e.clientY;
                redact();
            }
        });

        canvasMerge.addEventListener('mouseup', function () {
            isDragging = false;
        });


}
// fillRect(x, y, largeur, hauteur)
document.getElementById('mask-zone').addEventListener('click', (e) => {
    e.preventDefault();
    const lesCanvas = document.querySelectorAll('canvas');
    let j = 0;
    if (lesCanvas) {
        lesCanvas.forEach(cvn => {
            canvasStock[j] = cvn;
            j++;
        });
    }
    redact();
});

///////////////////////////////// Selected Page ////////////////////////////////
let pdfContainer = document.getElementById('pdf-container');
/*pdfContainer.addEventListener('mouseover', function () {
    const lesCanvas = document.querySelectorAll('canvas');
    lesCanvas.forEach(cnv => {
        cnv.addEventListener("click", (e) => {
            if ((numP != 0) && (numP != cnv.id)){
                document.getElementById(numP).classList.remove("redacted-page");
            }
            numP = cnv.id;
            cnv.classList.add("redacted-page");
        });
    });
});*/

///////////////////////////////////////// Mask num ///////////////////////////////////
document.getElementById('mask-num').addEventListener('click', (e) => {

    e.preventDefault();

let cnvfab = canvasFabricStock[0];
//let newcanvas = new fabric.Canvas('c');

    let dataURL = cnvfab.getElement().toDataURL('image/jpeg');

// Create an image element and set the data URL as its source
let image = new Image();
image.src = dataURL;

// Create a new Fabric.js image object using the data URL
var imgInstance = new fabric.Image(image, {
  left: 0,
  top: 0,
});

  // Add the image object to the destination canvas
var rect = new fabric.Rect({
  left: 100,
  top: 100,
  fill: 'red',
  width: 20,
  height: 20,
  angle: 45
});


    //rect.set('fill', 'black');
    // cnvfab.setActiveObject(rect);

cnvfab.add(imgInstance);
//rect.set({ left: 20, top: 50 });
cnvfab.renderAll(); // R

// let isDragging = false;
// let lastPosX, lastPosY;

// rect.on('mouse:down', function(options) {
//     if (options.target) {
//         isDragging = true;
//         lastPosX = options.e.clientX;
//         lastPosY = options.e.clientY;
//     }
//     console.log("helloo ");
// });

// rect.on('mouse:move', function(options) {
//     console.log("helloo ");
//     if (isDragging && options.target) {
//         const dx = options.e.clientX - lastPosX;
//         const dy = options.e.clientY - lastPosY;

//         options.target.left += dx;
//         options.target.top += dy;

//         options.target.setCoords();

//         lastPosX = options.e.clientX;
//         lastPosY = options.e.clientY;

//         cnvfab.renderAll();
//     }
// });

// rect.on('mouse:up', function() {
//     console.log("helloo ");
//     isDragging = false;
// });



   // var canvas2 = this.__canvas = new fabric.Canvas('c');
	// create a rect object
  var deleteIcon = "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='595.275px' height='595.275px' viewBox='200 215 230 470' xml:space='preserve'%3E%3Ccircle style='fill:%23F44336;' cx='299.76' cy='439.067' r='218.516'/%3E%3Cg%3E%3Crect x='267.162' y='307.978' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -222.6202 340.6915)' style='fill:white;' width='65.545' height='262.18'/%3E%3Crect x='266.988' y='308.153' transform='matrix(0.7071 0.7071 -0.7071 0.7071 398.3889 -83.3116)' style='fill:white;' width='65.544' height='262.179'/%3E%3C/g%3E%3C/svg%3E";

  var img = document.createElement('img');
  img.src = deleteIcon;

  fabric.Object.prototype.transparentCorners = false;
  fabric.Object.prototype.cornerColor = 'blue';
  fabric.Object.prototype.cornerStyle = 'circle';

  function Add() {
    var rect = new fabric.Rect({
      left: 100,
      top: 50,
      fill: 'black',
      width: 200,
      height: 100,
      objectCaching: false,
      stroke: 'lightgreen',
      strokeWidth: 4,
    });

    cnvfab.add(rect);
    cnvfab.setActiveObject(rect);
  }

  fabric.Object.prototype.controls.deleteControl = new fabric.Control({
    x: 0.5,
    y: -0.5,
    offsetY: 16,
    cursorStyle: 'pointer',
    mouseUpHandler: deleteObject,
    render: renderIcon,
    cornerSize: 24
  });

  Add();

  function deleteObject(eventData, transform) {
		var target = transform.target;
		//var cnvfab = target.cnvfab;
		    cnvfab.remove(target);
        cnvfab.requestRenderAll();
	}

  function renderIcon(ctx, left, top, styleOverride, fabricObject) {
    var size = this.cornerSize;
    ctx.save();
    ctx.translate(left, top);
    ctx.rotate(fabric.util.degreesToRadians(fabricObject.angle));
    ctx.drawImage(img, -size/2, -size/2, size, size);
    ctx.restore();
  }
  });

    </script>

    </body>
</html>
