{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>TurboPDF</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <style>

        .btn-primary {
            margin-bottom: 5px;
            background-color: #2A3944ff;
            border-color: black;

        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"
            integrity="sha512-z8IYLHO8bTgFqj+yrPyIJnzBDf7DDhWwiEsk4sY+Oe6J2M+WQequeGS7qioI5vT6rXgVRb4K1UVQC5ER7MKzKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
            integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>

</head>
<body>

{% include "main/includes/header.html" %}

<div id="app">
    <h2>Extraire une ou plusieurs page(s) d'un PDF</h2>
    <p>Extrayez des pages de votre fichier PDF, cliquez sur le bouton ci-dessous pour charger votre fichier.</p>
    <form enctype="multipart/form-data" method="post" id="pdf-upload-form">
        {% csrf_token %}
        <input type="file" id="pdf-upload" name="pdf-upload" accept=".pdf">
        <div>
            <p>Pages</p>
            <input type="text" name="page_selection" placeholder="ex. 2-6,9,3-12" id="pageSelection">
        </div>
        <div>
            <button class="btn btn-primary" id="save-button" type="submit">Extraire</button>
        </div>
    </form>

    <div id="pdf-container"></div>
</div>

<script>

    //Logique pour restreindre l'input de la selection de page
    const restrictedInput = document.getElementById('pageSelection');
    restrictedInput.addEventListener('input', function(event) {
        const pattern = /^[0-9,-]*$/;
        const inputValue = event.target.value;

        if (!pattern.test(inputValue)) {
            // Si le contenu ne correspond pas au pattern, enlevez les caractères invalides
            event.target.value = inputValue.replace(/[^0-9,-]/g, '');
        }
    });

    let pdfDoc;
    document.getElementById('pdf-upload').addEventListener('change', function (e) {
        e.preventDefault();
        var fileInput = document.getElementById('pdf-upload');
        var file = fileInput.files[0];

        if (file && file.type === 'application/pdf') {
            console.log(file)
            var fileReader = new FileReader();
            fileReader.onload = async function () {
                const typedarray = new Uint8Array(this.result);
                pdfDoc = await PDFLib.PDFDocument.load(typedarray);

                const pdfViewer = document.getElementById('pdf-container');
                pdfViewer.innerHTML = '<embed src="' + URL.createObjectURL(file) + '" type="application/pdf" width="100%" height="800px" />';
            };
        }
        fileReader.readAsArrayBuffer(file);
    });

</script>


</body>
</html>